* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #10375c;
  background-color: #f4f6ff;
}

input[type=text] {
  line-height: 1.2rem;
  font-size: 1rem;
  width: 250px;
  padding: 5px;
  border: none;
}

button[type=button] {
  line-height: 1.2rem;
  font-size: 1rem;
  background-color: #127681;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 2px;
}

button {
  border-radius: 2px;
  cursor: pointer;
}

h2 {
  margin-bottom: 0.5rem;
}

.main {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin: 2rem auto 0;
}
.main-block {
  width: 50%;
}
.main-title {
  width: 100%;
  font-size: 2rem;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}

.post-area {
  margin-bottom: 30px;
}
.post-form {
  display: flex;
}

.todo-text {
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

button {
  line-height: 1.2rem;
  font-size: 1rem;
  color: white;
  padding: 5px;
  border: none;
  margin-right: 0.5rem;
}

.todo-update {
  background-color: #008dda;
}

.todo-complete {
  background-color: #ffb400;
}

.todo-return {
  background-color: #7e5cad;
}

.todo-delete {
  background-color: #ea5455;
}

ul li {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.todo-area {
  margin-bottom: 30px;
}

.complete-area {
  width: 50%;
  margin-bottom: 30px;
}